*{
	margin: 0;
	padding: 0;
}
img{
	pointer-events: none;
}
html{
	width: 100%;
	height: 100%;
	background: #32445a;
	cursor:url(imges/pen.ico),auto;
}
body{
	width: 100%;
	height: 100%;
	font-size: 48px;
	overflow-x: hidden;
    overflow-y: hidden;
}

.Btn-div{
	width: 48px;
	height: 48px;
}
#canvas{
	position: absolute;
	top: 20px;
	left: 68px;
	margin-top: 20px;
	margin-left: 20px;
	display: -webkit-flex;
    display: flex;
}
#box-canvas{
	
}
#box-Palette{
	margin-left: 20px;
}
#Palette{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
#canvas-body{
	/*display: -webkit-flex;
    display: flex;*/
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    pointer-events: none;
}
.canvas-div{
	width: 1em;
	height: 1em;
	background: #fff;
	/*pointer-events: none;*/
}
.canvas-div img{
	width: 1em;
	height: 1em;
	display: block;
	opacity: 0.3;
}
.box{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.box-canvas-1{
	height: 12px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    pointer-events: none;
}
.box-canvas-2{
	height: 120px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex: auto;
    -webkit-align-items: stretch;
    align-items: stretch;
    pointer-events: none;
}
.box-canvas-3{
	height: 12px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    pointer-events: none;
}
.box-canvas-1-1{
	width: 12px;
	height: 12px;
	background: url(imges/box/box-1.png);
	pointer-events: none;
}
.box-canvas-1-2{
	height: 12px;
	background: url(imges/box/box-2.png);
	flex: auto;
	pointer-events: none;
}
.box-canvas-1-3{
	width: 12px;
	height: 12px;
	background: url(imges/box/box-3.png);
	pointer-events: none;
}
.box-canvas-2-1{
	width: 12px;
	background: url(imges/box/box-4.png);
	pointer-events: none;
}
.box-canvas-2-2{
	width: 120px;
	background: url(imges/box/box-5.png);
	flex: 1;
	pointer-events: auto;
}
.box-canvas-2-3{
	width: 12px;
	background: url(imges/box/box-6.png);
	pointer-events: none;
}
.box-canvas-3-1{
	width: 12px;
	height: 12px;
	background: url(imges/box/box-7.png);
	pointer-events: none;
}
.box-canvas-3-2{
	height: 12px;
	background: url(imges/box/box-8.png);
	pointer-events: none;
	flex: auto;
}
.box-canvas-3-3{
	width: 12px;
	height: 12px;
	background: url(imges/box/box-9.png);
	pointer-events: none;
}
.Palette-img{
	width: 100%;
	height: 100%;
	display: block;
}
#choice-name{
	width: 192px;
	height: 64px;
	margin: 0 auto;
	margin-top: 20px;
}
#box-menu{
	position: absolute;
	left: 20px;
	bottom: 20px;
}
#save{
	width: 48px;
	height: 48px;
	background: url(imges/save.png);
}
#grid{
	width: 48px;
	height: 48px;
	background: url(imges/save.png);
	background-position: 48px;
	margin-top: 20px;
}
#menu{
	width: 48px;
	height: 48px;
	background: url(imges/save.png);
	background-position: 96px;
	margin-top: 20px;
}
.canvas-body{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
#canvas-Num{
	position: relative;
}
#textbook-Num{
	position: relative;
}
#choice{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	background: #32445a;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
#pattern img{
	pointer-events: auto;
	margin-left: 20px;
	margin-right: 20px;
}
#scale{
	display: none;
}
#scale img{
	pointer-events: auto;
	margin-left: 20px;
	margin-right: 20px;
}
#textbook{
	display: none;
	margin-left: 20px;
}
#course{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	background: #32445a;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    display: none;
}
#course img{
	margin-left: 10px;
	margin-right: 10px;
	pointer-events: auto;
}

#linshi{
	display: -webkit-flex;
    display: flex;
}
#linshi canvas{
	margin: auto;
}
#shuchu{
	display: none;
	width: 100vw;
	height: 100vh;
	background: #32445a;
	position: relative;
	z-index: 10;
}
#SSSSS{
	position: absolute;
	top: 6vh;
}
#shuchu-btn{
	top: 7vh;
	position: absolute;
	z-index: 20;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
#shuchu-btn img{
	pointer-events: auto;
}







.iPhone-pattern{

}
.iPhone-pattern img{
	pointer-events: auto;
	width: 30vw;
	margin-left: 10px !important;
	margin-right: 10px !important;
}
.iPhone-course{
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}
.iPhone-course img{
	margin-top: 10px;
}

.iPhone-scale{
	display: -webkit-flex;
    display: flex;
}
.iPhone-scale img{
	height: 30%;
}
.iPhone-box-canvas{
	margin-top: 6px;
	/*display: none;*/
}
.iPhone-textbook{
	display: none !important;
}
.iPhone-Btn{
	/*display: none !important;*/
}
.iPhone-box-menu{
	display: none !important;
}
.iPhone-box-Palette{
	width: 100%;
	margin-top: 6px;
	margin-left: 0 !important;
	/*display: none !important;*/
}
.iPhone-canvas{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
	width: 100%;
	height: 100%;
	top: 0 !important;
	left: 0 !important;
	margin: 0 !important;
}



.PC-Btn{
	width: 48px;
	height: 406px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	float: left;
	position: absolute;
	top: 40px;
	left: 20px;
}
#iPhone-Btn{
	margin-top: 10px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: none;
}
.iPhone-Btn-div{
	width: 32px;
	height: 32px;
	background-color: #fff;

}
.iPhone-Btn div{
	/*width: 30px;
	height: 30px;*/
}

